<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item catalog</title>
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/app.css">

        <script src="/static/js/jquery.min.js"> </script>
        <script src="/static/js/vendor/platform.js?onload=start"> </script>
    </head>
    <body>
        <!-- NAVBAR -->
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="drown menu" data-dropdown-menu>
                    <li class="menu-text">CATALOG item</li>
                </ul>
            </div>
            <div class="top-bar-right">
            {% if not is_logged %}
                <a href="/login/generate_session" class="button">Login</a>
            {% else %}
                Hello, {{username}} <a href="/login/gdisconnect" class="button">LOGOUT</a>
            {% endif %}
            </div>
        </div>
        <!-- ERROR MESSAGES -->
        <div class="row">
            <div class="large-12 small-12 columns">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="callout primary">
                            {% for message in messages %}
                                {{ message }} </br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
