{% extends "base.html" %}

{% block body %}
<div class="row">
   <nav aria-label="You are here" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">Index</a></li>
            <li><a class="disabled">{{item.name}}</a></li>
        </ul>
    </nav>

    <div class="large-10 small-10 columns">
        <div class="row">
            <div class="large-8 small-8 columns">
               <h4>{{item.name}}</h4>
            </div>
        </div>
    </div>

    <div class="large-2 small-12 columns text-right">
        <a href="/catalog/edit/item/{{item.name}}" class="button">EDIT</a>
        <a href="/catalog/delete/item/{{item.name}}" class="button">DELETE</a>
    </div>

    <hr />

    <div class="row">
        <div class="large-12 small-12 columns">
            {{item.description}}
        </div>
    </div>
</div>
{% endblock %}
